<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <style>
          table td,th
            {
            text-align: center;
            border-radius:20px;
            background-color: antiquewhite;
            font-size: 20px;
            transition: 0.2ms;
            }
            table
            {
            text-align: center;
            }
            table td:hover ,th:hover
            {
                transform: scale(1.25);
                cursor: pointer;
            }
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>
 <body style="font-family:Century Gothic;margin:0;" class="backg">
        <div style="background-color: rgb(3, 137, 3);border-radius: 5px;"><font style="font-weight: bolder;font-size:35px;"><center>forestonline.go</center></font></div>
    <div ng-app="myApp" ng-controller="myController" align="center">

        <!--THE SEARCH BOX-->
        <h1> Forest Fires (2008-2011)</h1>
        <font style="font-size: 25px;">Search&emsp;</font><input type="Search" ng-model="search" 
            placeholder="Enter text to search" /><img src=""><br><br>

        <table>
            <tr>
                <th>State</th>
                    <th>2010-2011</th>
                        <th>2009-2010</th>
                            <th>2008-2009</th>
            </tr>

            <!--TABLE ROWS WITH A FILTER-->
            <tr ng-repeat="fires in forestfires | filter : search">

                <td>{{fires.States}}</td>
                    <td>{{fires.year1}}</td>
                        <td>{{fires.year2}}</td>
                            <td>{{fires.year3}}</td>
            </tr>
        </table>
    </div>
</body>
<script>
    angular.module("myApp", [])
        .controller('myController', ['$scope', function ($scope) {

            // JSON ARRAY OBJECT.
            $scope.forestfires =
            [
        {
        "States":"Andaman and Nicobar",
        "year1": 0,
        "year2": 7,
        "year3": 1
        },
        {
        "States":"Andhra Pradesh",
        "year1": 1119,
        "year2": 1837,
        "year3": 2442
        },
        {
        "States":"Arunachal Pradesh",
        "year1": 485,
        "year2": 576,
        "year3": 786
        },
        {
        "States":"Assam",
        "year1": 1322,
        "year2": 2511,
        "year3": 1901
        },
        {
        "States":"Bihar",
        "year1": 81,
        "year2": 397,
        "year3": 143
        },
        {
        "States":"Chandigarh",
        "year1": 0,
        "year2": 0,
        "year3": 0
        },
        {
        "States":"Chhatisgarh",
        "year1": 1074,
        "year2": 2835,
        "year3": 2849
        },
        {
        "States":"Dadra and Nagar haveli",
        "year1": 0,
        "year2": 0,
        "year3": 0
        },
        {
        "States":"Daman and Diu",
        "year1": 0,
        "year2": 0,
        "year3": 0
        },
        {
        "States":"Delhi",
        "year1": 1,
        "year2": 0,
        "year3": 0
        },
        {
        "States":"Goa",
        "year1": 3,
        "year2": 0,
        "year3": 2
        },
        {
        "States":"Gujarat",
        "year1": 101,
        "year2": 179,
        "year3": 182
        },
        {
        "States":"Haryana",
        "year1": 5,
        "year2": 29,
        "year3": 21
        },
        {
        "States":"Himachal Pradesh",
        "year1": 6,
        "year2": 125,
        "year3": 168
        },
        {
        "States":"Jammu and Kashmir",
        "year1": 7,
        "year2": 30,
        "year3": 117
        },
        {
        "States":"Jharkhand",
        "year1": 192,
        "year2": 1314,
        "year3": 430
        },
        {
        "States":"Karnataka",
        "year1": 370,
        "year2": 428,
        "year3": 604
        },
        {
        "States":"Kerala",
        "year1": 10,
        "year2": 106,
        "year3": 166
        },
        {
        "States":"Lakshadweep",
        "year1": 0,
        "year2": 0,
        "year3": 0
        },
        {
        "States":"Madhya Pradesh",
        "year1": 1451,
        "year2": 2386,
        "year3": 2894
        },
        {
        "States":"Maharashtra",
        "year1": 882,
        "year2": 1789,
        "year3": 2257
        },
        {
        "States":"Manipur",
        "year1": 1275,
        "year2": 2487,
        "year3": 1477
        },
        {
        "States":"Meghalaya",
        "year1": 879,
        "year2": 1743,
        "year3": 1010
        },
        {
        "States":"Mizoram",
        "year1": 1691,
        "year2": 4675,
        "year3": 3434
        },
        {
        "States":"Nagaland",
        "year1": 919,
        "year2": 1654,
        "year3": 984
        },
        {
        "States":"Orissa",
        "year1": 780,
        "year2": 2515,
        "year3": 208
        },
        {
        "States":"Puducherry",
        "year1": 0,
        "year2": 0,
        "year3": 0
        },
        {
        "States": "Punjab",
        "year1": 10,
        "year2": 56,
        "year3": 41
        },
        {
        "States": "Rajasthan",
        "year1": 86,
        "year2": 117,
        "year3": 96
        },
        {
        "States": "Sikkim",
        "year1": 1,
        "year2": 5,
        "year3": 1
        },
        {
        "States":"Tamil nadu",
        "year1": 34,
        "year2": 148,
        "year3": 276
        },
        {
        "States": "Tripura",
        "year1": 634,
        "year2": 1127,
        "year3": 717
        },
        {
        "States": "Uttar Pradesh",
        "year1": 198,
        "year2": 737,
        "year3": 370
        },
        {
        "States":  "Uttarakhand",
        "year1": 85,
        "year2": 855,
        "year3": 631
        },
        {
        "States":  "West Bengal",
        "year1": 197,
        "year2": 224,
        "year3": 100
        }
        ]

        } ]);
</script>
</html>